body{
    margin: 0px;
}

#logo-header{
    background-color: #f39200;
}

#logo-header img{
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-prinicipal{
    font-family: 'League Gothic', sans-serif;
    font-size: 20px;
    float: right;
    padding-top: 30px;   
    padding-right: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f39200;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: grey;
  }



h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 60px;    
    text-align: center;
}

h3{
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;    
    text-align: center;
}

h4{
  font-family: 'League Spartan', sans-serif;
  font-size: 20px;    
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  color: #000;
}

h4 a{
  text-decoration: none;
  color:#000;
}

h4 a:hover{
  text-decoration: none;
  color:#f39200;
}
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: solid;
    padding-bottom: 50px;
    }

.grid a{
    text-decoration: none;
    color: black;
}

  
.icon1 {
    grid-area: 1 / 1 / 2 / 2; 
}

.icon2 {
    grid-area: 1 / 2 / 2 / 3; 

}

footer{
    background-color: #F7B133;
    height: 50px; 
    width:100%;
    position:absolute;
    bottom:0;
    left:0; 
}

footer h5{
    text-align: center;
    color: #FFF;
    font-family: 'League Spartan', sans-serif;
    
}

/*Asignaturas*/

 .grid-asignatura {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    padding-top:20px ;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: solid;
    padding-bottom: 50px;
    }

.grid-asignatura a{
    text-decoration: none;

}

  
.icon1-asignatura {
    grid-area: 1 / 1 / 2 / 2; 
}

.icon2-asignatura {
    grid-area: 1 / 2 / 2 / 3; 

}

.icon3-asignatura {
    grid-area: 2/ 3 / 3 / 4; 
}

.icon3-asignatura {
    grid-area: 1 / 4 / 4 / 4; 

}

/*Formulario*/

#form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #726659;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  #submit {
    width: 502px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
    color: #fff;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #b3aca7;
    border-top: none;
    background-color: #f39200;
  }
  
  #submit:hover {
    color: #e2dedb;
  }